Include /etc/ssh/ssh_config.d/*.conf

Host *
#   ForwardAgent no
#   ForwardX11 no
#   ForwardX11Trusted yes
#   PasswordAuthentication yes ### modify this line to no to use only rsa keys
#   HostbasedAuthentication no
#   GSSAPIAuthentication no
#   GSSAPIDelegateCredentials no ### for kerberos config
#   GSSAPIKeyExchange no
#   GSSAPITrustDNS no ### do not trust kerberos dns configuration
#   BatchMode no
#   CheckHostIP yes
#   AddressFamily any ### ipv4 (inet) or ipv6 (inet6)
#   ConnectTimeout 0
#   StrictHostKeyChecking ask
#   IdentityFile ~/.ssh/id_rsa ### specify another path to avoid having base config that is the same at start for everyone
#   IdentityFile ~/.ssh/id_dsa ### specify another path to avoid having base config that is the same at start for everyone
#   IdentityFile ~/.ssh/id_ecdsa ### specify another path to avoid having base config that is the same at start for everyone
#   IdentityFile ~/.ssh/id_ed25519 ### specify another path to avoid having base config that is the same at start for everyone
#   Port 22 ### change the port for more secured config to avoid bots
#   Ciphers aes128-ctr,aes192-ctr,aes256-ctr,aes128-cbc,3des-cbc  ### select the more secured one
#   MACs hmac-md5,hmac-sha1,umac-64@openssh.com
#   EscapeChar ~
#   Tunnel no ### désactive la création d’interfaces tun/tap (VPN SSH). Mettre à “yes” ou “point-to-point” si vous en avez besoin.
#   TunnelDevice any:any
#   PermitLocalCommand no
#   VisualHostKey no
#   ProxyCommand ssh -q -W %h:%p gateway.example.com  ### set your proxy server
#   RekeyLimit 1G 1h
#   UserKnownHostsFile ~/.ssh/known_hosts.d/%k ### change known hosts dir to a one you selected to avoid having base config
    SendEnv LANG LC_*
    HashKnownHosts yes
    GSSAPIAuthentication yes